.container {
    width: 600px;
    margin: 0 auto;
}

.nome-cidade {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nome{
 padding: 8px;
}

#nome{
    width: 350px;
}

.telefone{
    padding: 8px;
}
.email-motivo{
    display: flex;
    align-items: center;
}

.email{
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 70%;
}

.motivo select{
    padding: 4px;
}

.cursos{
    display: flex;
    flex-direction: column;
}

.mensagem{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-right: 30px;
    height: 100%;
}

.mensagem input{
    text-align: start;
    height: 150px;
}

.check{
    display: flex;
    align-items: center;
    padding: 4px;
}

.check label{
    margin-left: 4px;
}

.btn{
    margin-top: 10px;
    width: 100px;
    padding: 8px;
    margin: 8px;
}

