* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
  font-weight: inherit;
  line-height: 2rem;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

hr {
    width: 70%;
    margin: 15px auto;
    border-style: dotted;
}

#pagina {
  text-align: center;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

.topo {
    background-color:blue;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

header {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
}

.menu li {
  flex-grow: 1;
  margin-right: 20px;
  color: #fff;
}

.menu li:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

.titulo {
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.dados_pessoais img {
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
}

.tabela {
  text-align: center;
  margin: 0 auto;
}

.empresa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.empresa img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.empresa p {
  margin-top: 30px;
}

.lazer li {
  margin-top: 15px;
}

.redes-sociais{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.redes-sociais img{
    width: 32px;
    height: 32px;
    margin: 0 6px;
}

.redes-sociais img:hover{
    transform: scale(1.5);
    transition: ease-in-out 0.2s;
}

.btn-contato{
  padding: 8px;
  margin-bottom: 25px;
}